@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table-specification tr {
  border-bottom: 1px solid #e2e8f0;
}

.description-product p {
  margin-bottom: 18px;
  line-height: 32px;
}

@layer utilities {
  .scrollbar {
    @apply scrollbar-thin scrollbar-thumb-slate-500 scrollbar-track-slate-100 scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }
}
